LLM_MODEL=""
LLM_TEMPERATURE=
LLM_BASE_URL=""
LLM_API_KEY=""
DENSE_MODEL=""
SPARSE_MODEL=""
OLLAMA_HOST=""
APP_HOST=""
APP_PORT=
APP_AUTO_RELOAD=
LANGFUSE_ENABLED=
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL=""
LLAMA_CLOUD_API_KEY=""
RERANKER_TYPE=""
CROSS_ENCODER_RERANKER_MODEL=""
